/* 
	Hoja de estilos para ejercicio/proyecto: XXXXXX
	
	Secciones: 
	$1: Estilos base
	$2: Estilos tipográficos
	$3: XXXX

*/

/* $1: Estilos base */

* { box-sizing: border-box; }


/* $2: Estilos tipográficos */

img {max-width: 100%}

body {
background-color:white;
}

.cabecera{
    display:flex;
    margin: 20px;
    font-family: sans-serif;
    font-size: 12px;
}

.middle{
    display: flex;
    margin-left: 50%;
}

.middle > * {
    margin-left: 30px;
}

.derecha{
    display: flex;
    margin-left:auto;
    font-weight: bold;
    
}

.derecha > * {
    margin-left: 45px;
}

.lupa{
    width: 20px;
}

.carrito{
    width: 20px;

}

.inicio{
    background-color: green;
    background-image: url(../img/A6_IN_BAG_2000x.jpg);
    background-size: cover;
    height: 750px; 
}

/* $3: XXXX */