/* 
	Hoja de estilos para ejercicio/proyecto: XXXXXX
	
	Secciones: 
	$1: Estilos base
	$2: Estilos tipográficos
	$3: XXXX

*/

/* $1: Estilos base */

* { box-sizing: border-box; }


/* $2: Estilos tipográficos */

img {max-width: 100%}

body {
background-color:white;
font-family: sans-serif;
}

.cabecera{
    display:flex;
    margin: 20px;
    font-size: 12px;
}

.middle{
    display: flex;
    margin-left: 45%;
}

.middle > * {
    margin-left: 30px;
}

.derecha{
    display: flex;
    margin-left:auto;
    font-weight: bold;
    
}

.derecha > * {
    margin-left: 45px;
}

.lupa{
    width: 20px;
}

.carrito{
    width: 20px;

}

.inicio{
    background-color: green;
    background-image: url(../img/A5_LEATHER_2000x.jpg);
    background-size: cover;
    height: 750px; 
    position: relative;
}

.capa{
    position: absolute;;
    background-color: rgba( 0,0,0,0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.intro{
    position: absolute;
    left: 34%;
    top: 40%;
    text-align: center;
    color: white;

}

.sleeves{
    font-size: 30px;
    font-weight: bold;
}


.primera
{
    margin-top: 20px;
    width: 10%;
    background-color: white;
    height: 3px;
}

.text1{
    font-weight: bold;
    margin-top: 30px;
    font-size: 18px;
    
}

.now{
    margin-top: 30px;
    border: 2px solid white;
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
}

.community{
    background-color:rgb(248, 248, 248);
    padding-bottom: 10px;
}

.tittle{
    text-align: center;
    padding-top:  40px;
    font-size: 25px;
}

.segunda{
    margin-top: 20px;
    width: 3%;
    background-color: grey;
    height: 4px;
}

.fila{
    display:flex;
    margin-top: 50px;

}

.fila img{
    width:100%;
    background-color: blue;    
}

.follow{
    margin-top: 20px;
    border: 2px solid rgb(62,62,62);
    color: white;
    background-color: rgb(62,62,62);
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.collection{
    background-color: white;
    background-size: cover;
    height: auto; 
    position: relative;
}

.fila1{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;    
}

.producto1{
    width: 23%;
}

.producto2{
    width: 23%;
}

.producto3{
    width: 23%;
}

.producto4{
    width: 23%;
}

.titulillo{
    text-align: center;
    color: grey;
    font-weight: bold;
    padding-top: 20px;
    font-size: 15px;
    
}

.precio{
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-size: 15px;
}

.certified{
    margin-top: 60px;
    background-color: green;
    background-image: url(../img/img6.jpg);
    background-position: center;
    background-size: cover;
    height: 500px; 
    width: 100%;
    position: relative;
    opacity: 0.8;
}

/* $3: XXXX */