/* 
	Hoja de estilos para ejercicio/proyecto: XXXXXX
	
	Secciones: 
	$1: Estilos base
	$2: Estilos tipográficos
	$3: XXXX

*/

/* $1: Estilos base */

* { box-sizing: border-box; }


/* $2: Estilos tipográficos */

img {max-width: 100%}

body {
    background-color:white;
    font-family: sans-serif;
}

.logo{
    position: absolute;
    
}

A:link {
    text-decoration: none;
    color:black;
}
.cabecera{
    display:flex;
    margin: 20px;
    font-size: 12px;
}


.middle{
    display: flex;
    margin-left: 45%;
}

.middle > * {
    margin-left: 30px;
}

.derecha{
    display: flex;
    margin-left:auto;
    font-weight: bold;
    
}

.derecha > * {
    margin-left: 45px;
}

.lupa{
    width: 20px;
}

.carrito{
    width: 20px;

}

.inicio{
    background-color: green;
    background-image: url(../img/A5_LEATHER_2000x.jpg);
    background-size: cover;
    height: 750px; 
    position: relative;
}

.capa{
    position: absolute;;
    background-color: rgba( 0,0,0,0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.intro{
    position: absolute;
    left: 34%;
    top: 40%;
    text-align: center;
    color: white;

}

.sleeves{
    font-size: 30px;
    font-weight: bold;
}


.primera
{
    margin-top: 20px;
    width: 10%;
    background-color: white;
    height: 3px;
}

.text1{
    font-weight: bold;
    margin-top: 30px;
    font-size: 18px;
    
}

.now{
    margin-top: 30px;
    border: 2px solid white;
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
}

.community{
    background-color:rgb(248, 248, 248);
    padding-bottom: 10px;
}

.tittle{
    text-align: center;
    padding-top:  40px;
    font-size: 25px;
}

.segunda{
    margin-top: 20px;
    width: 3%;
    background-color: grey;
    height: 4px;
}

.fila{
    display:flex;
    margin-top: 50px;

}

.columna{
    display:flex;
}

.fila img{
    width:100%;
    background-color: blue;    
}

.follow{
    margin-top: 20px;
    border: 2px solid rgb(62,62,62);
    color: white;
    background-color: rgb(62,62,62);
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.collection{
    background-color: white;
    background-size: cover;
    height: auto; 
    position: relative;
}

.fila1{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;    
}

.producto1{
    width: 23%;
}

.producto2{
    width: 23%;
}

.producto3{
    width: 23%;
}

.producto4{
    width: 23%;
}

.titulillo{
    text-align: center;
    color: grey;
    font-weight: bold;
    padding-top: 20px;
    font-size: 15px;
    
}

.precio{
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-size: 15px;
}

.certified{
    margin-top: 60px;
    background-color: green;
    background-image: url(../img/img6.jpg);
    background-position: center;
    background-size: cover;
    height: 500px; 
    width: 100%;
    position: relative;
    opacity: 0.8;
}

.footer{
    padding-top: 30px;
    background-color:rgb(242, 242, 242);
    padding-bottom: 70px;
}

.textofooter{
    font-size: 15px;
    display:flex;
    justify-content: space-around;
    
}

h1{
    color: dimgrey;
    font-weight: bold;
    margin-left: 20px;
}
.parrafos{
    margin-top: 20px;
    color: grey;
    line-height : 25px;
    margin-left: 20px;
}

.abajo{
    display: flex;
    margin-top: 80px;
    justify-content: space-around;
}
.minitext{
    color: dimgrey;
    font-weight: bold;
    margin-left: 50px;
    font-size: 12px;
}

.footersocial{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.facebook{
    width: 40px;
}
.Instagram{
    width: 45px;
}

.iconospay{
    width: 300px;
    display: flex;
    
}

/*PRODUCTO*/

.espacioproducto{
    display: flex;
}
.descripcion{
    width: 70%;
    background-color:rgb(242, 242, 242);
    margin-left: 30px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 40px;
}

h2{
    font-weight: bold;
    font-size: 23px;
    
}

.tamanotext1{
    margin-top: 20px;
    font-size: 12px;
    color:dimgrey;
    width: 100%;
    line-height: 20px;
}

.sold{
    margin-top: 10px;
    border: 2px solid black;
    background-color: black;
    color: white;
    max-width: 120px;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.tamanotext2{
    margin-top: 30px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
}

.tamanotext3{
    margin-top: 40px;
    font-size: 15px;
    color:dimgrey;
    width: 100%;
    line-height: 20px;
}

.good{
    margin-top: 40px;
    width: 250px;
}

.tamanotext4{
    margin-top: 40px;
    font-size: 15px;
    color:black;
    width: 100%;
    line-height: 20px;
    font-weight: bold;
}
.socialmedia{
    width: 100px;
    padding-bottom: 20px;
}

.producto{
    width: 100%;
    margin-top:20px;
}

/*STORY*/

.video{
    margin-top: 80px;
    width: 100%;
    height: 560px;;
    background-color: green;
    background-image: url(../img/%22VIDEO%22.png);
    background-position: center;
    background-size: cover;
}
.tittlestory{
    text-align: center;
    padding-top: 70px;
    font-size: 20px;
    margin-left: 150px;
    margin-right: 150px;
    line-height: 25px;
}

.australia1{
    display: flex;
    margin-top: 70px;
}

.textaustralia{
    width: 40%;
    margin-top: 20%;
    margin-left: 60px;
    font-size: 15px;
    line-height: 28px;
    
}
.arrugada{
    margin-left: 120px;
    width: 60%;
}
.australia2{
    display: flex;
}
.bolso{
     width: 49%;
}
.australia3{
        display: flex;
}
.ninos{
    margin-top: 80px;
}
.textstory{
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 15px;
    line-height: 28px;        
}
.textstorylast{
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 80px;
    font-size: 15px;
    line-height: 28px;        
}

/*-RESPONSIVE SMALL-*/

@media (max-width: 400px){

.logo{
    position: absolute;
    margin-left: 30%;
}

.middle{
    display: none;
}

.shop{
    display: none;
    }
    
.lupa{
    display: none;
}

.carrito{
    width: 25px;

}

.inicio{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:white;
    background-position: top;
    height: 500px;
}

.capa{
    display: none;
}

.intro{
    left: 15%;
    right: 15%;
    top: 55%;
    color: black;

}

.now{
    border: 2px solid black;
}
    

.fila{
    display:flex;
    margin-top: 50px;

}

.columna{
    display:block;
}

/*ARREGLAR ESTA PARTE*/

.certified{
    background-color: white;
    background-image: url(../img/img6.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    height: 200px; 
}

.footer{
    padding-top: 1px;
}

.textofooter{
    display:block;
    
}

h1{
    margin-top: 60px;
}

.abajo{
    display: block;

}
.minitext{
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.iconospay{
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 0px;
    
}

/*PRODUCT*/

.espacioproducto{
    display: block;
    order: -1;
}
.descripcion{
    width:90%;
    margin-left: 20px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 40px;
}
    
.producto{
    width: 100%;
    margin-top:20px;
}

/*STORY*/

.video{
    background-color: white;
    background-image: url(../img/%22VIDEO%22.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    height: 170px; 
}
.tittlestory{
    font-size: 15px;
    line-height: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.australia1{
    display: block;
}

.textaustralia {
    width: 80%;
    margin-top: 20%;
    margin-left: 40px;
    font-size: 12px;
    line-height: 20px;
    
}
.arrugada{
    margin-left: 0px;
    width: 100%;
    order: -1;
}
.australia2{
    display: block;
}
.bolso{
    width: 100%;
}
.australia3{
    display: block;
}
.ninos{
    margin-top: 80px;
}
.textstory{
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 20px;
    font-size: 12px;
    line-height: 20px;        
}
.textstorylast{
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 12px;
    line-height: 20px;        
}
    
}

/*-RESPONSIVE TABLET-*/

@media (min-width:401px) and (max-width:720px){

.logo{
    position: absolute;
    margin-left: 40%;
}

.middle{
    display: none;
}

.shop{
    display: none;
    }
    
.lupa{
    display: none;
}

.carrito{
    width: 25px;

}

.inicio{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:white;
    background-position: top;
    height: 650px;
}

.capa{
    display: none;
}

.intro{
    left: 15%;
    right: 15%;
    top: 70%;
    color: black;

}

.now{
    border: 2px solid black;
}
    

.fila{
    display:flex;
    margin-top: 50px;

}

.columna{
    display:block;
}

/*ARREGLAR ESTA PARTE*/

.certified{
    background-color: white;
    background-image: url(../img/img6.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    height: 338px; 
}

.footer{
    padding-top: 1px;
}

.textofooter{
    display:flex;
    
}

h1{
    margin-top: 60px;
}

.abajo{
    display: flex;

}

/*PRODUCT*/

.espacioproducto{
    display: block;
    order: -1;
}
.descripcion{
    width:90%;
    margin-left: 35px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 40px;
}
    
.producto{
    width: 100%;
    margin-top:20px;
}

/*STORY*/

.video{
    background-color: white;
    background-image: url(../img/%22VIDEO%22.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    height: 300px; 
}
.tittlestory{
    font-size: 15px;
    line-height: 20px;
    margin-left: 170px;
    margin-right: 170px;
}

.australia1{
    display: block;
}

.textaustralia {
    width: 80%;
    margin-top: 10%;
    margin-left: 40px;
    font-size: 12px;
    line-height: 20px;
    
}
.arrugada{
    margin-left: 0px;
    width: 100%;
    order: -1;
}
.australia2{
    display: block;
}
.bolso{
    width: 100%;
}
.australia3{
    display: block;
}
.ninos{
    margin-top: 80px;
}
.textstory{
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 20px;
    font-size: 12px;
    line-height: 20px;        
}
.textstorylast{
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 12px;
    line-height: 20px;        
}
    
}





/* $3: XXXX */